{% extends "mybase.html" %}

{% block head %}
{% endblock %}

{% block search %}
<form id="searchbar" name="searchbar" class="pure-form" action="/search/" method="post">
            {% csrf_token %}
            {% if keyword %}
                <input class = "pure-input-2-3" id="search_words" type="text" name="search_words" Placeholder="" size="35">
            {% else %}
                <input class = "pure-input-2-3" id="search_words" type="text" name="search_words" Placeholder="keywords..." size="35">
            {% endif %}
            <button class="pure-button" href="javascript: searchsubmit()">Search</button>
        </form>
{% endblock %}

{% block general_content %}
<h1 class="content-subhead">Welcome!</h1>
<p> 
    Input keywords (MeSH terms separated by semicolon) and click 'search' button. You could get initial results. 
    After that, rates datasets and clicks re-rank, an optimized result would be given. 
</p>

<label style="background-color:green; color:white; text-align:center">
Note that keywords should be MeSH terms and should be separated by semicolon.</label>
<label style="font-weight:bold; text-align:center">
Here is a link for <a href="http://www.ncbi.nlm.nih.gov/mesh/" target="_blank">MeSH search</a>. For example, a MeSH term can be 
</label>
<ul>
    <li>DNA</li>
    <li>Phylogeny</li>
    <li>Animals</li>
    <li>Time Factors</li>
    <li>Sequence Analysis</li>
    <li>RNA, Untranslated</li>
    <li>RNA, Plant</li>
    <li>Tobacco Mosaic Virus</li>
    <li>Vibrio cholerae</li>
    <li>Sea Urchins</li>
    <li>Charadriiformes</li>
</ul>

<label style="font-weight:bold; text-align:center">
Here is a link for <a href="http://www.ncbi.nlm.nih.gov/mesh/" target="_blank">MeSH search</a>. For example, a MeSH term can be 
</label>
<ul>
    <li>DNA;Phylogeny;RNA, Untranslated;Tobacco Mosaic Virus</li>
    <li>Ovarian Neoplasms;Gene Expression Profiling; Survival Analysis </li>
    <li>Animals;Sea Urchins</li>
</ul>
{% endblock %}

{% block footer %}
    <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Manual</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
{% endblock %}

