{% extends "mybase.html" %}

{% block head %}
{% endblock %}

{% block search %}
<form id="searchbar" name="searchbar" class="pure-form" action="/search/" method="post">
            {% csrf_token %}
            {% if keyword %}
                <input class = "pure-input-2-3" id="search_words" type="text" name="search_words" Placeholder="" size="35">
            {% else %}
                <input class = "pure-input-2-3" id="search_words" type="text" name="search_words" Placeholder="keywords..." size="35">
            {% endif %}
            <button class="pure-button" href="javascript: searchsubmit()">Search</button>
        </form>
{% endblock %}

{% block general_content %}
<h1 class="content-subhead">Welcome!</h1>
<p> 
    Input keywords and click 'search' button. You could get initial results. 
    </br>
    After that, rates datasets and clicks re-rank, an optimized result would be given. 
</p>
<p>
    <i>search</i> is used to start a new session. 
</p>
<p>
    <i>re-rank</i> is used to reorder based on user ratings.
</p>
<label style="background-color:orange; color:white; text-align:center">
Search on specific database repository only. Use grammar: keywords@db_name
</label>
<ul>
    <li> GSE </li>
    <li> GeneBank </li>
</ul>
<label style="background-color:green; color:white; text-align:center">
Some feature names you may want to use.
</label>
<ul>
    <li>DNA</li>
    <li>Phylogeny</li>
    <li>Animals</li>
    <li>Time Factors</li>
    <li>Sequence Analysis</li>
    <li>RNA, Untranslated</li>
    <li>RNA, Plant</li>
    <li>Tobacco Mosaic Virus</li>
    <li>Vibrio cholerae</li>
    <li>Sea Urchins</li>
    <li>Charadriiformes</li>
</ul>
<label style="font-weight:bold; text-align:center">
Here is a link for <a href="http://www.ncbi.nlm.nih.gov/mesh/" target="_blank">MeSH search</a>.
</label>
<p>
    use any combinations of these features by joining them with semicolon mark (;).
</p>
<p>
    e.g. DNA;Phylogeny;RNA, Untranslated;Tobacco Mosaic Virus <b>or</b> DNA;Genes@GeneBank
</p>
{% endblock %}

{% block footer %}
    <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Manual</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
{% endblock %}

